
{%  extends 'base.html' %}

{% block title %} Add New Post {% endblock %}

    {% block content %}   
<div class="container text-light">
  <form method="POST">
    {{form.csrf_token}}
<div class="mb-3">
<div class="form-label"> {{form.title.label}}  </div>
{{form.title(value=title, class='form-control')}}

</div>
<div class="mb-3">
<div class="form-label"> {{form.body.label}}  </div>
{{form.body( value=body, class='form-control')}}

</div>

    <div class="mb-3">

<div class="mb-3">
<div class="form-label"> {{form.description.label}}  </div>
{{form.description( value=description, class='form-control')}}
</div>

<div class="mb-3">
  <div class="form-label"> {{form.image.label}}  </div>
  {{form.image(value=image, class='form-control')}}
  
  </div>
<div class="mb-3 ">
  <label for="cat" class="form-label">Category</label>
<select name="category" class="form-control" id="cat">
  {% for cat in category %}
      <option value="{{cat.id}}">{{cat.cateoryName}}</option>
  {% endfor %}
</select></div>

  <button type="submit" class="btn btn-outline-light w-25 mx-auto">Add New Post</button>
</form>
</div>
    {% endblock %}


















