{% extends 'base.html'%}
{% block content%}
<div>
  <a class="btn btn-primary mt-5 w-25" style="margin: auto !important; " href="{{url_for('create')}}">Create new Post</a>
</div>

{% for x in blogs %}     

        <div class="col-lg-4 col-sm-6   d-flex grip mt-3" >
          <div class="card  rounded-3 text-center h-100 mycard2 w-75" style="width:'18rem';box-shadow:'5px 5px 5px gray'">   
            <h5 class="card-title  mt-1 fw-bolder para">Name: {{x.name}}</h5>
                 <img src="{{url_for('static', filename='images/p2.jpeg')}}" class="card-img-top p-2 rounded-3" style="height:'250px'" alt="" >
                 <div class="card-body">
                 <p class="card-text fw-bold text-black">email: {{x.email}} </p>

                 <p class="card-text fw-bold text-black">Accepted: {{x.accepted}} </p>
                 <a href="{{url_for('delete', id=x.id)}}" class="btn btn-danger w-50 ">
                  Delete
                </a><br>
                <a href="{{url_for('update', id=x.id)}}" class="btn btn-warning mt-2 mb-2 w-50 ">
                  Edit 
                </a><br>
                <a href="{{url_for('show', id=x.id)}}" class="btn btn-info w-50">
                  Show
                </a>
                </div>
          </div>
      </div>
{% endfor %}
{%endblock content%}

