{% extends 'base.html'%}
{% block content %}
<style>

</style>
  <div class="col-md-12">
        <div class="w-100 mt-2 ms-5 ">
           <h1 style="color: orangered; text-align: center; text-shadow: 2px 2px 2px black;"> Page Not Found </h1>
           <img style="width: 80vw; height: 80vh;" src="https://media.istockphoto.com/id/687810238/photo/pug-dog-with-yellow-constructor-safety-helmet-and-cone-and-404-error-and-dead-end-sign-on.jpg?s=612x612&w=0&k=20&c=DbvLxH_RhgH90S12YOBuYD2TDBLuiRC7SUy69Enm_g4=">
        </div>
  </div>
{%endblock content%}